trigger:
  branches:
    include:
      - main # run on main before build
      # trigger for merge queue branches
      - gh-readonly-queue/*

pr:
  branches:
    include:
      - '*'

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.23.0

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    gitFetchDepth: 0
    skipAzureAuth: true
    skipGitTagging: true
    validationJobs:
      - name: Run Linting & Tests
        steps:
          - task: Cache@2
            inputs:
              key: 'npm | "$(Agent.OS)" | package-lock.json'
              restoreKeys: |
                npm | "$(Agent.OS)" | package-lock.json
              path: $(Pipeline.Workspace)/.npm
            displayName: Cache NPM
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm ci
              environmentVariables:
                npm_config_cache: $(Pipeline.Workspace)/.npm
          - template: ../steps/node_script.yml
            parameters:
              # only run commitlint on branches, not main
              condition: ne(variables['Build.SourceBranchName'], 'main')
              nodeVersion: 22
              script: npm run commitlint
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run lint
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run format-check
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run test-coverage
