{% extends layoutTemplate %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./task-list-multi-section.njk" import multiTaskList %}
{% from "./task-list-single-section.njk" import singleTaskList %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    {% block beforeTaskList %}
    {% endblock %}

    <style {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
        .app-task-list {
          padding-left: 0;
        }
        .app-task-list>li {
          position: relative;
          list-style-type: none;

        }
        .app-task-list__section .govuk-tag {
          position: absolute;
          top: 3px;
          right: 0;
        }
        .app-task-list .govuk-summary-list {
          border-top: 1px solid #b1b4b6;
        }
    </style>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if summaryListData.sections | length > 1 %}
                {{ multiTaskList(summaryListData.sections, journeyComplete, beforeSubmitButton) }}
            {% elif summaryListData.sections | length == 1 %}
                {{ singleTaskList(summaryListData.sections | first, journeyComplete, beforeSubmitButton) }}
            {% endif %}
        </div>
    </div>

    {% block afterTaskList %}
    {% endblock %}

{% endblock %}
