{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro singleTaskList(section, journeyComplete, beforeSubmitButton) %}
    {% if section.list.rows.length %}
        {{ govukSummaryList(section.list) }}
    {% endif %}

    {% if journeyComplete %}
        {% if beforeSubmitButton %}
            {{ beforeSubmitButton }}
        {% endif %}
        <form action method="post">
            <input type="hidden" name="_csrf" value="{{_csrf}}">
            {{ govukButton({
                text: "Accept & Submit",
                type: "submit"
            }) }}
        </form>
    {% else %}
        <strong class="govuk-tag govuk-tag--grey">
        Cannot submit yet
        </strong>
    {% endif %}
{% endmacro %}
