{% extends layoutTemplate %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set day = question.fieldName + "_day" %}
{% set month = question.fieldName + "_month" %}
{% set year = question.fieldName + "_year" %}
{% set hour = question.fieldName + "_hour" %}
{% set minutes = question.fieldName + "_minutes" %}
{% set period = question.fieldName + "_period" %}

{% if question.html %}
    {% set htmlHint %}
        {% include question.html ignore missing %}
    {% endset %}
{% endif %}

{% block before_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if errorSummary %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errorSummary,
                    attributes: {"data-cy": "error-wrapper"}
                }) }}
            {% endif %}
        </div>
    </div>

    {{ super() }}
{% endblock before_content %}

{% block dynQuestionContent %}
    <style {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
        .pins-select--width-4 {
            min-width: 4.5em !important;
            max-width: 4.5em !important;
        }
    </style>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ _csrf }}">
                {{ govukDateInput({
                    id: question.fieldName,
                    fieldset: {
                        legend: {
                            text: question.question,
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--l"
                        }
                    },
                    errorMessage: (errors[day].msg or errors[month].msg or errors[year].msg) and {
                        text: errors[question.fieldName].msg or errors[day].msg or errors[month].msg or errors[year].msg
                    },
                    items: [
                        {
                            classes: "govuk-input--width-2 govuk-input--error" if errors[question.fieldName] or errors[day] else "govuk-input--width-2",
                            name: day,
                            label: "Day",
                            id: day,
                            value: question.value[day]
                        },
                        {
                            classes: "govuk-input--width-2 govuk-input--error" if errors[question.fieldName] or errors[month] else "govuk-input--width-2",
                            name: month,
                            label: "Month",
                            id: month,
                            value: question.value[month]
                        },
                        {
                            classes: "govuk-input--width-4 govuk-input--error" if errors[question.fieldName] or errors[year] else "govuk-input--width-4",
                            name: year,
                            label: "Year",
                            id: year,
                            value: question.value[year]
                        }
                    ]
                }) }}

                <div class="govuk-form-group{% if errors[hour].msg or errors[minutes].msg or errors[period].msg %} govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset" role="group">
                        <div id="{{ question.fieldName }}-hint" class="govuk-hint">For example, 9:30am or 2:55pm</div>
                        {% if errors[hour].msg or errors[minutes].msg or errors[period].msg %}
                            <p id="{{ question.fieldName }}-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ errors[hour].msg or errors[minutes].msg or errors[period].msg }}
                            </p>
                        {% endif %}
                        <div class="govuk-date-input" id={{ question.fieldName }}>
                            <div class="govuk-date-input__item">
                                {{ govukInput({
                                    classes: "govuk-input--width-2 govuk-input--error" if errors[question.fieldName] or errors[hour] else "govuk-input--width-2",
                                    name: hour,
                                    label: {
                                        text: "Hour"
                                    },
                                    id: hour,
                                    value: question.value[hour]
                                }) }}
                            </div>
                            <div class="govuk-date-input__item">
                                {{ govukInput({
                                    classes: "govuk-input--width-2 govuk-input--error" if errors[question.fieldName] or errors[minutes] else "govuk-input--width-2",
                                    name: minutes,
                                    label: {
                                        text: "Minute"
                                    },
                                    id: minutes,
                                    value: question.value[minutes]
                                }) }}
                            </div>
                            <div class="govuk-date-input__item">
                                {{ govukSelect({
                                    id: period,
                                    name: period,
                                    label: {
                                        text: "am or pm"
                                    },
                                    classes: "govuk-select pins-select--width-4 govuk-select--error" if errors[question.fieldName] or errors[period] else "govuk-select pins-select--width-4",
                                    items: [
                                        { value: "", text: "", selected: question.value[period] == '' or not question.value[period] },
                                        { value: "am", text: "AM", selected: question.value[period] == 'am' },
                                        { value: "pm", text: "PM", selected: question.value[period] == 'pm' }
                                    ]
                                }) }}
                            </div>
                        </div>
                    </fieldset>
                </div>

                {{ govukButton({
                    text: continueButtonText,
                    type: "submit",
                    attributes: { "data-cy":"button-save-and-continue"}
                }) }}
            </form>
        </div>
    </div>


{% endblock %}
