{% extends layoutTemplate %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block dynQuestionContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ _csrf }}">

                {% call govukFieldset({
                    legend: {
                        text: question.question,
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                }) %}

                    {%- if question.description %}
                        <p class="govuk-body">{{ question.description }}</p>
                    {%- endif -%}
                    {% if question.html %}
                        {% include question.html ignore missing %}
                    {% endif %}

                    {{ govukRadios({
                        classes: "govuk-radios",
                        idPrefix: question.fieldName,
                        name: question.fieldName,
                        errorMessage: errorSummary and {
                            text: errorSummary[0].text
                        },
                        items: question.options
                    }) }}

                {% endcall %}

                {{ govukButton({
                    text: continueButtonText,
                    type: "submit",
                    attributes: { "data-cy":"button-save-and-continue"}
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
