{% extends layoutTemplate %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block dynQuestionContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate>
                {% if _csrf %}<input type="hidden" name="_csrf" value="{{ _csrf }}">{% endif %}
                <h1 class="govuk-heading-l">Are you sure you want to remove the following {{ titleSingular }}?</h1>
                {% for item in questionSummary %}
                    <p class="govuk-body">{{ item.answer | safe }}</p>
                {% endfor %}
                {{ govukButton({
                    text: continueButtonText,
                    type: "submit",
                    attributes: { "data-cy":"button-save-and-continue"}
                }) }}
            </form>
        </div>
    </div>
{% endblock %}