{% from "govuk/components/button/macro.njk" import govukButton -%}

{# for backwards compatibility #}
{%- set secondaryActions = secondaryActions or extraActionButtons -%}
{%- set hasSecondaryActions = secondaryActions|length > 0 -%}

{% if hasSecondaryActions %}<div class="govuk-button-group">
{% endif %}
{{ govukButton({
    text: continueButtonText,
    type: "submit",
    attributes: { "data-cy":"button-save-and-continue"}
}) }}

{% if hasSecondaryActions %}
{% for secondaryAction in secondaryActions %}
    {{ govukButton({
        text: secondaryAction.text,
        type: secondaryAction.type,
        href: secondaryAction.href,
        attributes: {
            "formaction": secondaryAction.formaction or "",
            "data-cy": "button-" + secondaryAction.text|lower|replace(" ", "-"),
            "name": secondaryAction.text|lower|replace(" ", "-")
        },
        classes: secondaryAction.classes or "govuk-button--secondary"
    }) }}
{% endfor %}
</div>
{%- endif %}
